@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background-color: #222222;
    color: #DADCDD;
}
/*
===================
Barra de navegación
===================
*/
nav{
    background: rgba(0, 0, 0, 0.75);
    display: block;
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 1;
    padding-left: 50px;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    /*padding: 0 100px;*/
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    /*padding: 7px 13px;*/
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}
a.active,a:hover{
    color: #36b7ee;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
/*
===================
Presentación
===================
*/
.presentation-video{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.presentation-video video{
    filter: brightness(35%);
}
.cont-pres-text{
    color: white;
}
.cont-pres-text .row{
    width: auto;
    height: 100vh;
}
.cont-pres-text .row{
    margin: 0px 35px;
}
.cont-pres-izq h1{
    font-weight: 500;
    font-size: 65px;
}
.ape{
    color: #36b7ee;
}
.cont-pres-izq .desarrollador{
    font-weight: 200;
    font-size: 28px;
}
.cont-pres-text .cont-pres-izq .btn-cv,
.cont-pres-text .cont-pres-izq .btn-linkin{
    height: 59px;
    font-size: 25px;
}
.cont-pres-text .cont-pres-izq .btn-cv{
    background-color: #36b7ee;
    color: white;
    width: 145px;
    margin-right: 5px;
}
.cont-pres-text .cont-pres-izq .btn-linkin{
    border-color: #36b7ee;
    color: #f5f5f5;
}
.animation1{
    width: 50vw;
    z-index: 0;
}
.cont-acerca-mi{
    background-color: #222222;
    padding: 100px 50px;
}
.animation2{
    width: 25vw;
    z-index: 0;
}
@media (max-width: 952px){
    label.logo{
      font-size: 30px;
    }
    nav ul li a{
      font-size: 16px;
    }
}
@media (max-width: 858px){
/*
===================
Navegación
===================
*/
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: rgba(0, 0, 0, 0.75);
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
/*
===================
Presentación
===================
*/
    .animation1{
        display: none;
    }
    .cont-pres-izq h1{
        text-align: center;
    }
    .cont-pres-izq .desarrollador{
        justify-content: center;
        display: flex;
    }
    .cont-pres-text .cont-pres-izq .btn-cv,
    .cont-pres-text .cont-pres-izq .btn-linkin{
        display: block;
        margin: 20px auto;
        width: 90%;
    }
    *{
        box-sizing: content-box;
    }
}