@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background-color: #222222;
    color: #DADCDD;
}
.presentation-video{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.presentation-video video{
    filter: brightness(35%);
}
.cont-pres-text{
    color: white;
}
.cont-pres-text .row{
    width: auto;
    height: 100vh;
}

.cont-pres-izq, .cont-pres-der{
    padding: 0px 10vw;
}

.cont-pres-izq h1{
    font-weight: 500;
    font-size: 65px;
}
.cont-pres-izq h1 .ape{
    color: #36b7ee;
}
.cont-pres-izq .desarrollador{
    font-weight: 200;
    font-size: 28px;
}
.cont-pres-text .cont-pres-izq .btn-cv,
.cont-pres-text .cont-pres-izq .btn-linkin{
    height: 59px;
    font-size: 25px;
}
.cont-pres-text .cont-pres-izq .btn-cv{
    background-color: #36b7ee;
    color: white;
    width: 145px;
    margin-right: 5px;
}
.cont-pres-text .cont-pres-izq .btn-linkin{
    border-color: #36b7ee;
    color: #36b7ee;
}
.cont-pres-text .cont-pres-izq .animation1{
    width: 100%;
}
.cont-acerca-mi{
    background-color: #222222;
}
@media screen and (max-width: 780px) {
    .animation1{
        display: none;
    }
    .cont-pres-izq h1{
        text-align: center;
    }
    .cont-pres-izq .desarrollador{
        justify-content: center;
        display: flex;
    }
    .cont-pres-text .cont-pres-izq .btn-cv,
    .cont-pres-text .cont-pres-izq .btn-linkin{
        display: block;
        margin: 20px auto;
        width: 90%;
    }
    .cont-pres-text .cont-pres-izq .btn-cv{
        margin-right: 0px;
    }
}